APP_ENV=dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=msc_energy
POSTGRES_USER=msc_user
POSTGRES_PASSWORD=msc_pass
DUCKDB_PATH=data/msc_energy.duckdb
LOG_LEVEL=INFO
DATA_ROOT=data
EXPORT_ROOT=data/exports
